@charset "UTF-8";
.navbar-brand {
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  background-color: #f9cf93;
  border-radius: 3rem;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 550px) {
  .navbar {
    background-color: #f9cf93;
    display: block;
  }
}

.encabezado .navbar .nav-item {
  background-color: #f9e4c8;
  border-radius: 3rem;
  padding: 4px;
  margin: 4px;
  font-family: "Courier New", Courier, monospace;
  border-color: black;
  text-align: center;
}

/* estructuraa del footer */
.footer {
  display: block;
}

/* Estilos del titulo del pie de pagina*/
.nav-item .nav-link {
  color: #f9cf93;
}

/* Estilos HTML Home */
/* defino las areas dentro de la grilla Ultimas reseñas y agregadas */
/* Le doy formato a las secciones  HOME*/
.seccionhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.seccionhome h3 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.seccionhome .seccionhome-resenas {
  margin: 15px;
  background-color: #f9cf93;
  border-radius: 3rem;
}

.seccionhome .seccionhome-resenas .resenas-titulo {
  font-size: 3rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.seccionhome .seccionhome-resenas .resenas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seccionhome .seccionhome-resenas .resenas-body p {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.seccionhome .seccionhome-resenas .resenas-body img {
  max-height: 300px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 984px) {
  .seccionhome .seccionhome-resenas .resenas-body img {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 4rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .seccionhome .seccionhome-resenas .resenas-body img {
    width: 15%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 4rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .seccionhome .seccionhome-resenas .resenas-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin: 10px;
  }
}

.seccionhome .seccionhome-ultimasagregadas {
  margin: 15px;
  background-color: #f9cf93;
  border-radius: 3rem;
}

.seccionhome .seccionhome-ultimasagregadas .ultimasagregadas-titulo {
  font-size: 3rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.seccionhome .seccionhome-ultimasagregadas .ultimasagregadas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seccionhome .seccionhome-ultimasagregadas .ultimasagregadas-body p {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.seccionhome .seccionhome-ultimasagregadas .ultimasagregadas-body img {
  max-height: 300px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 984px) {
  .seccionhome .seccionhome-ultimasagregadas .ultimasagregadas-body img {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 4rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .seccionhome .seccionhome-ultimasagregadas .ultimasagregadas-body img {
    width: 15%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 4rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .seccionhome .seccionhome-ultimasagregadas .ultimasagregadas-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin: 10px;
  }
}

@media (max-width: 576px) {
  .seccionhome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 10px;
  }
}

/* Le doy formato a laas secciones Actores*/
.seccionactores h3 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: block;
  color: #cc9e5e;
  padding: 10px;
}

.seccionactores .card-group img {
  max-height: 250px;
  width: auto;
  border-radius: 2rem;
  margin-top: 10px;
}

@media (max-width: 984px) {
  .seccionactores .card-group img {
    max-height: 150px;
    width: auto;
  }
}

.seccionactores .card-group .card {
  background-color: #f9cf93;
  border-radius: 2rem;
}

.seccionactores .card-group .card .card-body {
  font-family: "Courier New", Courier, monospace;
}

/* Estilos HTML reseñas */
/* areas de seccion reseñas */
.accordion .accordion-item {
  margin-left: 10px;
  margin-right: 10px;
  background: none;
}

.accordion .accordion-item .accordion-button {
  background-color: #f9cf93;
  font-family: "Courier New", Courier, monospace;
}

.accordion .accordion-item .accordion-collapse {
  background-color: #f9cf93;
  font-family: "Courier New", Courier, monospace;
}

.accordion .accordion-item .accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #faeee0;
}

.accordion .accordion-item .accordion-body img {
  max-height: 300px;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 976px) {
  .accordion .accordion-item .accordion-body img {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 3rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .accordion .accordion-item .accordion-body img {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 3rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) {
  .accordion .accordion-item .accordion-body img {
    width: 15%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 4rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 976px) {
  .accordion .accordion-item .accordion-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .accordion .accordion-item .accordion-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 376px) {
  .accordion .accordion-item .accordion-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .accordion .accordion-item .body h5 {
    margin-bottom: 50px;
  }
  .accordion .accordion-item .body p {
    padding: 10px;
  }
  .accordion .accordion-item img {
    max-height: 300px;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 3rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) and (max-width: 984px) {
  .accordion .accordion-item img img {
    max-height: 150px;
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 3rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) and (max-width: 576px) {
  .accordion .accordion-item img img {
    max-height: 100px;
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 3rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 376px) and (max-width: 376px) {
  .accordion .accordion-item img img {
    max-height: 50px;
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 4rem;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.accordion .accordion-item:first-of-type .accordion-button {
  background-color: #f9cf93;
  font-family: "Courier New", Courier, monospace;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.accordion .accordion-item:first-of-type .accordion-collapse {
  background-color: #f9cf93;
  font-family: "Courier New", Courier, monospace;
}

.accordion .accordion-item:first-of-type .accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #faeee0;
}

.accordion .accordion-item:last-of-type .accordion-button {
  background-color: #f9cf93;
  font-family: "Courier New", Courier, monospace;
}

.accordion .accordion-item:last-of-type .accordion-collapse {
  background-color: #f9cf93;
  font-family: "Courier New", Courier, monospace;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.accordion .accordion-item:last-of-type .accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #faeee0;
}

/* Estilos HTML Formulario */
/* Bloque de seccion de formulario de contacto */
.seccion__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 3rem;
}

/* Estilos al contenido del sitio  Formularios*/
.formulario_contacto label, .formulario_contacto input, .formulario_contacto div {
  color: #cc9e5e;
}

fieldset {
  border-radius: 3rem;
  background-color: #f9cf93;
}

/* Estilos*/
* {
  margin: none;
  padding: none;
}

body {
  background-image: url(../img/fondo.jpg);
}

/* Titulo del sitio ---CAMBIAR TIPOGRAFIA----- */
.titulo > h1 {
  font-size: 5 rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #cc9e5e;
  display: block;
  padding: 10px;
}

@media (max-width: 984px) {
  .titulo > h1 .titulo {
    font-size: 3rem;
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .titulo > h1 .titulo {
    font-size: 2rem;
    padding: 20px;
  }
}

.titulo > h2 {
  font-size: 3rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: block;
  color: #cc9e5e;
  padding: 5px;
}

@media (max-width: 984px) {
  .titulo > h2 .sub-titulos {
    font-size: 1rem;
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .titulo > h2 .sub-titulos {
    font-size: 0.5rem;
    padding: 20px;
  }
}

.titulo > p {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: block;
  color: #f9e4c8;
  padding: 5px;
}
/*# sourceMappingURL=styles.css.map */