

// Variables
$color_l: rgb(249, 207, 147);
$color_m: rgb(249, 228, 200);
$color_s:rgb(250, 238, 224);
$font_mono:  "Courier New", Courier, monospace;
$font_size: 3rem;
$max-height : 150px;
$border-radius: 2rem;

/* Estilos HTML Home */




/* Le doy formato a las secciones  HOME*/

.seccionhome {
    display: flex;
    flex-direction: row;
    h3{
      text-align: center;
      font-family: $font_mono
    }
    .seccionhome-resenas {
      margin: 15px;
      background-color: $color_l;
      border-radius: $border-radius +1;
      .resenas-titulo{
      font-size: 3rem;
      text-align: center;
      font-family: $font_mono;
      }

      .resenas-body {
        display: flex;
        p{
          text-align: left;
          font-family: $font_mono;
        }
        img {
          max-height: $max-height*2;
          width:auto;
          justify-content: center;
          border-radius: $border-radius +1;
          margin-right: 10px;
          margin-bottom: 10px;
        }
        @media(max-width: 984px) {
          img {
            width:30%;
            align-self: center;
            border-radius: $border-radius +2;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }   
        @media(max-width: 576px) {
          img {
            width:15%;
            align-self: center;
            border-radius: $border-radius +2;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }  
      }
      @media(max-width: 576px){
        .resenas-body{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 10px;
        }
      }
    }
    .seccionhome-ultimasagregadas {
      margin: 15px;
      background-color: $color_l;
      border-radius: $border-radius +1;

      .ultimasagregadas-titulo{
        font-size: 3rem;
        text-align: center;
        font-family: $font_mono;
        }
      .ultimasagregadas-body{
        display: flex;
        p{
          text-align: left;
          font-family: $font_mono;
        }
        img {
          max-height: $max-height*2;
          width:auto;
          justify-content: center;
          border-radius: $border-radius +1;
          margin-right: 10px;
          margin-bottom: 10px;
        }
        @media(max-width: 984px) {
          img {
            width:30%;
            align-self: center;
            border-radius: $border-radius +2;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }   
        @media(max-width: 576px) {
          img {
            width:15%;
            align-self: center;
            border-radius: $border-radius +2;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }  
      }
      @media(max-width: 576px){
        .ultimasagregadas-body{
          display: flex;
          flex-direction: column-reverse;
          text-align: center;
          margin: 10px;
        }
      }

    }

}

@media(max-width: 576px){
  .seccionhome{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
  }
}

  





/* Le doy formato a laas secciones Actores*/

.seccionactores{
   h3{
    font-size: $font_size/2;
    text-align: center;
    font-family: $font_mono;
    display: block;
    color: $color_s;
    padding: 10px;
  }
  .card-group{
    img {
      max-height: 250px;
      width:auto;
      border-radius: $border-radius;
      margin-top: 10px;
    } 
    @media(max-width: 984px) {
      img {
        max-height: 150px;
        width:auto;
      }
    }
    .card {
      background-color: $color_l;
      border-radius: 2rem;
      .card-body{
            font-family: $font_mono;
            }
  
    }
  }

}