
@import "menu";
@import "pie_pagina";
@import "home";
@import "acordion";
@import "contacto";



/* Estilos*/

//Reset de estilos de la pagina, y deifinicion del fondo
*{
  margin: none;
  padding: none;
}

body {
  background-image:url(../img/fondo.jpg);
}


$color_l: rgb(250, 238, 224);
$color_m: rgb(249, 228, 200);
$color_s: rgb(204, 158, 94);


@mixin titulos {
  font-size: 5 rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: $color_s;
  display: block;
  padding: 10px;

  @media(max-width: 984px) {
    .titulo {
      font-size: 3rem;
      padding: 20px;
    }
  }   
    @media(max-width: 576px) {
      .titulo {
        font-size: 2rem;
        padding: 20px;
      }
    } 
}

@mixin sub-titulos {
  font-size: 3rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: block;
  color: $color_s;
  padding: 5px;
  @media(max-width: 984px) {
    .sub-titulos {
      font-size: 1rem;
      padding: 20px;
    }
  }   
    @media(max-width: 576px) {
      .sub-titulos {
        font-size: 0.5rem;

        padding: 20px;
      }
    } 
}


@mixin descripcion{
  font-size: 1.5rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: block;
  color: $color_m;
  padding: 5px;
}

/* Titulo del sitio ---CAMBIAR TIPOGRAFIA----- */



.titulo > h1{
  @include titulos();
}

.titulo > h2{
  @include sub-titulos();
}

.titulo > p{
  @include descripcion();
}

